@charset "utf-8";
body{
    background-color:dodgerblue;
    background-attachment: fixed;
}

.login{
    position: absolute;
    top:50%;
    margin-top: -200px;
    left:35%;
    background-color: whitesmoke;
    width: 400px;
    height: 320px;
    border-radius: 25px;
    text-align: center;
    padding: 5px,40px;
    box-sizing: border-box;
}
.login01{
    position: absolute;
    top:50%;
    margin-top: -200px;
    left:35%;
    background-color: whitesmoke;
    width: 400px;
    height: 500px;
    border-radius: 25px;
    text-align: center;
    padding: 5px,40px;
    box-sizing: border-box;
}

h1{
    font-size: 42px;
    font-weight: 600;
}

input{
    background-color: snow;
    width: 70%;
    height: 48px;
    margin-bottom: 10px;
    border: none;
    border-bottom:2px solid silver;
    outline: none;
    font-size: 22px;
}
.btn{
    background-color: dodgerblue;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    margin-top: 10px;
    font-weight: 600;
    color: whitesmoke;
}

.font{
    font-size: 22px;
    font-weight: 500;
    margin-top: -10px;
    color: #111111;
}
.signup{
    margin-top: 480px;
    margin-left: 35%;
    width: 400px;
    border-radius: 15px;
    font-weight: 500;
}
#submitBox{
    position: absolute;
    display: none;
    border:2px solid #ccc;
    text-align: center;
}

.submitBox{
    background-color: aliceblue;
    width: 400px;
    height: 200px;
    left: 35%;
    border-radius: 10px;
}
p{
    font-size: 28px;
    font-weight: 500;
}